html, body {
  	font-family: 'Lato', sans-serif;
  	font-weight: 400;
  	font-size: 16px;
  	line-height: 1.7;
  	color: #eee;
}



#header{
    width: 100%;
    background-image: url("img/2_podrozaneta-ivanova-776-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    display: flex;
}

#head{
    margin: auto;
    font-size: 52px;
    color: aliceblue;
}

#head2{
    margin: auto;
    font-size: 52px;
    color: black;
    padding-bottom: 20px;
}



.icon__img{
	width:auto;
	height:auto;
	text-align: center;
	margin-top:50px;
}
#textcontent{
    width: 100%;
    height: 180px;
    border: 2px dashed black;
    background-color: rgb(172, 150, 83,0.5);
}
#hero{
    height: 300px;
}

#content1{
    height: 60vh;
   background-image: 
	  linear-gradient(to right bottom, 
     rgba(20, 20, 20, 0.8),
     rgba(172, 150, 83, 0.8)),
     url('img/2.jpg');
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;

  	position: relative;
  	clip-path: polygon(5% 40px, 100% 0, 100% 50vh, 0 100%); 
}

#content-game1{
    height: auto;
   background-image: 
	  linear-gradient(to right bottom, 
     rgba(20, 20, 20, 0.6),
     rgba(172, 150, 83, 0.6)),
     url('img/k2.jpg');
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    padding: 35px 0 100px;
  	position: relative;
  	clip-path: polygon(0 6%, 100% 0, 100% 93%, 3% 98%);
}

.arrow-row{
	padding:30px;
}
#arrow-game1{
    margin-top: 3%;
    height: 20vh;
   background-image: 
	  linear-gradient(to right bottom, 
     rgba(20, 20, 20, 0.6),
     rgba(172, 150, 83, 0.6)),
     url('img/arrow-wood1.jpg');
     background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  	position: relative;
  	clip-path: polygon(0 30%, 60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 0 70%);
}


#arrow-game2{
    height: 30vh;
   background-image: 
	  linear-gradient(to right bottom, 
     rgba(20, 20, 20, 0.6),
     rgba(172, 150, 83, 0.6)),
     url('img/andrew-neel-178721-unsplash.jpg');
     background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  	position: relative;
clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

#arrow-game3{
    height: 20vh;
    margin-top: 3%;
   background-image: 
	  linear-gradient(to right bottom, 
     rgba(20, 20, 20, 0.6),
     rgba(172, 150, 83, 0.6)),
     url('img/arrow-wood2.jpg');
     background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  	position: relative;
clip-path: polygon(40% 70%, 40% 0, 60% 0, 60% 70%, 90% 70%, 50% 100%, 10% 70%);
}

#arrow-game4{
    height: 60vh;
    margin-top: 3%;
   background-image: 
	  linear-gradient(to right bottom, 
     rgba(20, 20, 20, 0.6),
     rgba(172, 150, 83, 0.6)),
     url('img/arrow-wood2.jpg');
     background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  	position: relative;
clip-path: polygon(40% 70%, 40% 0, 60% 0, 60% 70%, 90% 70%, 50% 100%, 10% 70%);
}

#arrow-game6{
    height: 80vh;
    margin-top: 3%;
   background-image: 
	  linear-gradient(to right bottom, 
     rgba(20, 20, 20, 0.6),
     rgba(172, 150, 83, 0.6)),
     url('img/arrow-wood2.jpg');
     background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  	position: relative;
clip-path: polygon(40% 70%, 40% 0, 60% 0, 60% 70%, 90% 70%, 50% 100%, 10% 70%);
}

#content-game2{
    height: auto;
   background-image: 
	  linear-gradient(to right bottom, 
     rgba(20, 20, 20, 0.6),
     rgba(172, 150, 83, 0.6)),
     url('img/k8.jpg');
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    padding: 65px 0 120px;
  	position: relative;
clip-path: polygon(0 8%, 98% 4%, 95% 92%, 0 98%);
}

.header_bold{
	font-size:18px;
	font-weight: 800;
	padding-top:10px;
	padding-bottom:20px;
}
#content-game3{
    height: 80vh;
   background-image: 
	  linear-gradient(to right bottom, 
     rgba(20, 20, 20, 0.6),
     rgba(172, 150, 83, 0.6)),
     url('img/k1.jpg');
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  	position: relative;
clip-path: polygon(0 3%, 93% 5%, 85% 97%, 0 100%);
    padding-right: 150px;
}

#content-game4{
    height: 100vh;
   background-image: 
	  linear-gradient(to right bottom, 
     rgba(63, 57, 38, 0.5),
     rgba(172, 150, 83, 0.5)),
     url('img/k3.jpg');
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;

  	position: relative;
  	clip-path: polygon(100% 0, 0 40px, 0 100%, 100% 80vh); 
}

.icon__img_table{
	padding-top:0;
	padding-bottom:10px;
}
#content-game5{
    height: 100vh;
   background-image: 
	  linear-gradient(to right bottom, 
     rgba(63, 57, 38, 0.5),
     rgba(172, 150, 83, 0.5)),
     url('img/linus-sandvide-566314-unsplash.jpg');
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  	position: relative;
clip-path: polygon(0 14%, 100% 2%, 100% 100%, 0 88%);
}

#content-game6{
    height: 100vh;
   background-image: 
	  linear-gradient(to right bottom, 
     rgba(63, 57, 38, 0.5),
     rgba(172, 150, 83, 0.5)),
     url('img/rawpixel-211022-unsplash.jpg');
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  	position: relative;
clip-path: polygon(0 6%, 100% 12%, 100% 100%, 4% 85%);
}
#content-game7{
    height: 100vh;
   background-image: 
	  linear-gradient(to right bottom, 
     rgba(63, 57, 38, 0.5),
     rgba(172, 150, 83, 0.5)),
     url('img/helena-lopes-459331-unsplash.jpg');
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  	position: relative;
clip-path: polygon(0 0, 100% 9%, 100% 90%, 0 97%);
}

p span{
    color: black;
    display: block;
    text-transform:uppercase;
    font-size: 38px;
    width: 36px;
    text-align: center;
    margin-left: 80px;
    margin-top: 45px;
    font-weight: 800;
}
.foresttext{
    margin-top:50px;
    font-size: 36px;
    color: aliceblue;
}
#company{
    margin-top: 40px;
}






#icon-content{
    margin-bottom: 10%;

}



.header {
  	height: 100vh;
  	background-image: 
	  linear-gradient(to right bottom, 
     rgba(20, 20, 20, 0.6),
     rgba(200, 200, 110, 0.8)),
     url('img/2.jpg');
  	
	background-size: cover;
    background-attachment: fixed;
  	background-position: center;
  	position: relative;

  	clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
}

.brand-box {
  	position: absolute;
  	top: 40px;
  	left: 40px;
}

.brand { font-size: 20px; }

.text-box {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.heading-primary {
  	color: #fff;
  	backface-visibility: hidden;
}
.heading-primary-black{
	color: black;
}
.heading-primary-main {
  	display: block;
  	font-size: 28px;
  	font-weight: 500;
}

.heading-primary-sub {
  	display: block;
  	font-size: 18px;
  	font-weight: 300;
}

.heading-sec {
  	color: black;
  	text-transform: uppercase;
  	backface-visibility: hidden;
  	margin-bottom: 30px;
}

.heading-sec-main {
  	display: block;
  	font-size: 26px;
  	font-weight: 400;
  	letter-spacing: 5px;
    margin-bottom: 30px;
}

.heading-sec-sub {
  	display: block;
  	font-size: 18px;
  	font-weight: 700;
  	letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
  	text-transform: uppercase;
  	text-decoration: none;
  	padding: 10px 20px;
  	display: inline-block;
  	border-radius: 100px;
  	transition: all .2s;
  	position: relative;
}

.btn:hover {
  	transform: translateY(-3px);
  	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
     color: #AB9357;
}

.btn:active {
  	transform: translateY(-1px);
  	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  	background-color: #fff;
  	color: #777;
	font-size: 14px;
}

.btn-black {
  	background-color: #79703F;
  	color: black;
	font-size: 14px;
}

.btn-buy {
  	background-color: red;
  	color: black;
	font-size: 52px;
    
}

.title{
    text-transform: uppercase;
  	backface-visibility: hidden;
    display: block;
  	font-weight: 400;
  	font-size: 28px;
  	line-height: 1.7;
     color: black;
    border-bottom: dashed 2px #79703F;
    border-width: 30%;
    margin-bottom: 40px;
}

.fas{
    color: black;
    margin-top: 0;
    margin-bottom: 20px;
}

.icon-text{
    color: black;
    text-transform: uppercase;
}

#game{
    margin-top: 100px;
}
.adventure{
    height: 70%;
}

.footer{
    background-color: black;
    margin-right: 0;
    text-align: right;
}

.text-footer{
    color: white;
    margin-right: 30px;
}



/* nawigacja */
.logo {
    width: 100%;
    height: auto;
    transition: all 1s;
}

.logo:before, .logo:after {
    content: " ";
    display: table;
}

.logo:after {
    clear: both;
}

.logo__img {
    width: 38%;
    height: auto;
    padding-top: 4px;
}

.menu {
    z-index: 100;
    background: black;
    color: white;
    width: 100%;
    position: fixed;
    opacity: 0.8;
    transition: opacity 0.8s;
}


@media (max-width: 812px){
    .menu{
        padding-bottom: 14px;
    }
}


.menu:before, .menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}


.menu__nav {
    position: relative;
}

@media (max-width: 811px) {
    .menu__nav {
        display: none;
        background: black;
        color: white;
        font-size: 16px;
        width: 100%;
        z-index: 5;
        height: 100vh;
    }
    .menu__nav:before, .menu__nav:after {
        content: " ";
        display: table;
    }
    .menu__nav:after {
        clear: both;
    }
}

.menu__navLeft {
    display: -ms-flexbox;
    display: flex;
    float: right;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 25px 0;
    transition: 0.7s all;
}

@media (max-width: 969px) {
    .menu__navLeft {
        font-size: 14px;
    }
}

@media (max-width: 811px) {
    .menu__navLeft {
        float: none;
        padding: 0;
        display: block;
    }
    .menu__navLeft:before, .menu__navLeft:after {
        content: " ";
        display: table;
    }
    .menu__navLeft:after {
        clear: both;
    }
}

.menu__navItem {
    float: right;
    color: white;
    text-decoration: none !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    padding: 0 10px;
    transition: color 0.5s;
    position: relative;
}

@media (max-width: 969px) {
    .menu__navItem {
        font-size: 16px;
        padding: 0 8px;
    }
}

@media (max-width: 880px) {
    .menu__navItem {
        font-size: 15px;
    }
}

@media (max-width: 811px) {
    .menu__navItem {
        font-size: 18px;
        width: 100%;
        padding: 10px 0;
    }
}

.menu__navItem:hover {
    color: deepskyblue;
}

.menu__navItem:hover::after {
    width: 65%;
}
.menu__navItem.actives {
    color: deepskyblue;
}

.menu__navItem.actives::after {
    width: 65%;
}


@media (max-width: 812px){

    .menu__navItem:hover::after {
        width: 100%;
    }

    .menu__navItem.actives::after {
        width: 100%;
    }
}

.menu__navItem:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 0;
    border-bottom: 4px solid deepskyblue;
    transition: width 1s;
}

.menu__logo {
    display: block;
    width: 230px;
    float: left;
    z-index: 6;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: 0.7s all;
}

@media (max-width: 880px) {
    .menu__logo {
        width: 200px;
    }
}

@media (max-width: 811px) {
    .menu__logo {
        width: 200px;
        position: relative;
    }
}

@media (max-width: 600px) {
    .menu__logo {
        width: 170px !important;
    }
}

.menu__bars {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 44px;
    padding: 0 20px 0 0;
    display: none;
    cursor: pointer;
    z-index: 6;
}

@media (max-width: 811px) {
    .menu__bars {
        position: relative;
        float: right;
    }
}

@media (max-width: 600px) {
    .menu__bars {
        font-size: 30px;
        top: 10px;
    }
}

.white{
    color: white;
}

footer {
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 4px 16px;
}

.footer__contact {
    padding: 24px 0 0;
    clear: both;
    display: flex;
    width: 100%;
}

.footer__map {
    width: 100%;
    height: 100%;
}

.footer__box {
    width: 50%;
    float: left;
}

.footer__link {
    color: white;
    text-decoration: underline;
}

.footer__header {
    font-size: 22px;
    font-weight: bold;
}

.footer__text {
    font-size: 18px;
    font-weight: bold;
}

.btn-buy {
    margin-top: 20px;
    background-color: red;
    color: black;
    font-size: 24px;

}

.fb-position{
    position: fixed !important;
    top: 25%;
    right: 0;
    z-index: 99;
    height: 50vh;
    width: auto;
    overflow: hidden;
    display: none;
}

@media (max-width: 400px){
    .fb-position{
        width: 100%;
        height: auto;
    }

    .rfloat{
        margin-right: 24px !important;
    }
}

.fb-toggle{
    position: fixed;
    top: calc(25% - 40px);
    right: 0;
    z-index: 99;
    color: #4267b2;
    width: 40px;
    cursor: pointer;
}